// Principales
$bleu-navy-principal: #000080;
$bleu-navy-secondaire: #3232da;

// Utilitaires Couleurs
$fond-clair: #fbfef9;
$fond-alerte: #ff4242;
$fond-neutre: #7284a8;
$fond-succes: #3ab795;

// Textes
$txt-fond-clair: #12130F;
$txt-fond-sombre: #fbfef9;

//Utilitaires position / Dimensions
$radius-btn: 5px;
$padding-txt: 10px;